#root,
body{
  user-select: none;
  min-height: 100vh;
  background: linear-gradient( rgb(133, 172, 207),rgb(176, 184, 199), rgb(140, 175, 185));;
}

/* HEADER SEARCH */
.header-search{
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* LOADER */
.modal{
  position: fixed;
  background-color: #FFF;
  inset: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

/*********************CARGANDO*********************************/
.contenedor-loader{
  min-height: 100vh;
  position: fixed;
  inset: 0;
  background:#FFF;
  z-index: 3000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) padding-box, linear-gradient( rgb(3, 137, 255),rgb(177, 104, 244), rgb(222, 129, 248) , rgb(237, 181, 251), rgb(253, 253, 253)) border-box;
    border: 30px solid transparent;
    animation:loader 1.7s infinite linear;
}

/***************************ANIMACIONES*************************************/
@keyframes loader {
  from{
      transform: rotate(0);
  }
  to{
      transform: rotate(360deg);
  }
}

/* FOOTER */
footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}