#root,
body{
  min-height: 100vh;
}

/* HEADER SEARCH */
.header-search{
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* LOADER */
.modal,
.container-loading{
  position: fixed;
  background-color: #FFF;
  inset: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.container-loading__loading{
  width: 200px;
  height: 200px;
  background: #FFF;
}

.container-loading div > h3{
  font-size: .9rem;
}

.container-loading div{
  position: fixed;
  background-color: transparent;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

